def forgotPassword(request):
    InvalidUser = {
        "InvalidUser": "User Not Found",
    }
    UserFound = {
        "UserFound": "OTP is Send"
    }
    OTPCorrect = {
        "OTPCorrect": "True"
    }
    OTPIncorrect = {
        "OTPIncorrect": "False"
    }

# 4 Set of Else if Ladder:-

    if "OTP" in request.POST: # If the OTP is POSTED   
        userData = request.POST["OTP"]
        if userData == request.session["OTP"]: 
            return render(request, 'changePassword.html', OTPCorrect)
        else:
            return HttpResponse("Incorrrect OTP")
    elif "username__email" in request.POST: # if Username or Email is POSTED
        userData = request.POST["username__email"]
        if Users.objects.filter(email=userData).exists(): # Check Whether the Given Data Exists in Email DB 
            user = Users.objects.get(email=userData)
            request.session["user"] = user.email
            request.session["OTP"] = generate_otp()
            recipients = [user.email]
            send_email(request, "OTP For Changing Password", "OTP:"+request.session["OTP"], "mohammed.ashiqpe@gmail.com", recipients)
            return render(request, 'changePassword.html', UserFound)
        elif Users.objects.filter(username=userData).exists(): # Check Whether the Given Data Exists in Username DB 
            user = Users.objects.get(username=userData)
            request.session["user"] = user.email
            request.session["OTP"] = generate_otp()
            recipients = [user.email]
            send_email(request, "OTP For Changing Password", "OTP:"+request.session["OTP"], "mohammed.ashiqpe@gmail.com", recipients)
            return render(request, 'changePassword.html', UserFound)
        else:
            return render(request, 'changePassword.html', InvalidUser) # if not in both then not a user
    elif "userPassword" in request.POST:  # if New Set of Password is Posted
        userData = request.POST["userPassword"]
        user = Users.objects.get(email=request.session["user"])
        user.set_password(userData)
        user.save()
        return render(request, "login.html") # After Updation Redirect to login
    else: # if Nothing is POSTED which means they have just entered page
        return render(request, "changePassword.html")